.content a:hover {
    color: #cc2a41;
    font-weight: bold;
}

@media (min-width: 480px) {
    .article-read-time,
    .article-tag,
    .article-category {
        display: inline;

        &:before {
            content: "|";
      }
    }
}
